<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tablica</title>
</head>
<body>
 <style type="text/css">
    table {
        border: 1px solid grey;
        width: 400px;
        font-size: large;
}
    tr {
   border: 2px solid black;
}
        .d {
    display: block;
    text-align: center;
   }
  </style>


<table>
    <tr>
        <td>Тип отпуска: </td>
        <td><a href="">редактировать</a></td>
        <td><a href=""> удалить</a> </td>
        <td><img src="" hieght="150" width="100" ></td>
    </tr>
    <tr>
        <td>Начало отпуска: </td>
    </tr>
    <tr>
        <td>Кол-во дней: </td>
    </tr>
    <tr>
        <td>Выход на работу: </td>
    </tr>
</table>

<table>
  <colgroup>
    <col span="2" style="background:Khaki"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
    <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
  </colgroup>
  <tr>
    <th>№ п/п</th>
    <th>Наименование</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Карандаш цветной</td>
    <td>20,00</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Линейка 20 см</td>
    <td>30,00</td>
  </tr>
</table>

</body>
</html>